"Te" removed as hop-by-hop header in HTTP/2 - kills GRPC forwarding

Was trying to make GRPC work with Traefik, and after a deep rabbit-hole stumbled upon https://nghttp2.org/blog/2015/03/24/proxying-grpc-with-nghttpx/

```
This is the usual HTTP/2 request, but one thing to note is te: trailers. According to RFC 7230, section 4.3.:

The “TE” header field in a request indicates what transfer codings, besides chunked, the client is willing to accept in response, and whether or not the client is willing to accept trailer fields in a chunked transfer coding.

HTTP/2 disallows transfer-encoding stuff, but it only allows “trailers” in “TE” header field:

The presence of the keyword “trailers” indicates that the client is willing to accept trailer fields in a chunked transfer coding, as defined in Section 4.1.2, on behalf of itself and any downstream clients.

So in HTTP/1.1, trailer fields are only allowed in chunked transfer encoding. In HTTP/2, chunked transfer encoding is deprecated because it has more elegant framing and thanks to it, trailer fields are always allowed.

gRPC does not work without “TE” header field.
```

Is it possible to remove the "te" header from the HopHeader list?

The issue came from httputil.ReverseProxy in golang (https://github.com/golang/go/issues/21096), and it's fixed in go1.11 (will be release at end of July).

@Juliens I've tried the go1.11beta2, still not working. And I also take a look at the file `vulcand/oxy/utils/netutils.go`, and change it according to https://github.com/golang/go/issues/21096, finally it works.